
$theme-colors: (
  'primary': #2c86f5,
  'secondary': #ced6e0,
  'success': #10ac84,
  'danger': #e03f3f,
  'warning': #ff9f43,
  'info': #0abde3,
  'dark': #222f3e,
  'light': #edf2f7,
  'link': #2178d1
);

$badge: (
	'primary': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'primary'),
	),
	'secondary': (
		'color': #fff,
		'background-color': #bec8d1,
	),
	'success': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'success'),
	),
	'danger': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'danger'),
	),
	'warning': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'warning'),
	),
	'info': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'info'),
	),
	'dark': (
		'color': #fff,
		'background-color': map-get($theme-colors, 'dark'),
	),
	'light': (
		'color': #333,
		'background-color': map-get($theme-colors, 'light'),
	),
);

$alerts: (
	"primary": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'primary'),
		"border-color": #2f81e6,
	),
	"secondary": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'secondary'),
		"border-color": #fff,
	),
	"success": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'success'),
		"border-color": #fff,
	),
	"danger": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'danger'),
		"border-color": #fff,
	),
	"warning": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'warning'),
		"border-color": #fff,
	),
	"info": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'info'),
		"border-color": #fff,
	),
	"dark": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'dark'),
		"border-color": #fff,
	),
	"light": (
		"color": #222,
		"background-color": map-get($theme-colors, 'light'),
		"border-color": #fff,
	),
);


$buttons: (
	'primary': (
		"color": #eee,
		"background-color": map-get($theme-colors, 'primary'),
		"background-color-hover": #1169d6,
		"box-shadow": 1px 3px 8px rgba(48, 128, 227, .4),
		"box-shadow-hover": 1px 3px 8px rgba(48, 128, 227, .7),
	),
	'secondary': (
		"color": #eee,
		"background-color": #7f848a,
		"background-color-hover": #63666b,
		"box-shadow": 1px 3px 8px rgba(100, 100, 100, .4),
		"box-shadow-hover": 1px 3px 8px rgba(100, 100, 100, .7),
	),
	'success': (
		"color": #eee,
		"background-color": #10ac84,
		"background-color-hover": #0b9270,
		"box-shadow": 1px 3px 8px rgba(11, 148, 114, .4),
		"box-shadow-hover": 1px 3px 8px rgba(14, 170, 131, 0.7),
	),
	'danger': (
		"color": #eee,
		"background-color": #e03f3f,
		"background-color-hover": #c73535,
		"box-shadow": 1px 3px 8px rgba(199, 47, 47,.4),
		"box-shadow-hover": 1px 3px 8px rgba(199, 47, 47, .7),
	),
	'warning': (
		"color": #eee,
		"background-color": #ff9f43,
		"background-color-hover": #ec9039,
		"box-shadow": 1px 3px 8px rgba(230, 131, 40, 0.4),
		"box-shadow-hover": 1px 3px 8px rgba(230, 131, 40, 0.7),
	),
	'info': (
		"color": #eee,
		"background-color": #0abde3,
		"background-color-hover": #09afd4,
		"box-shadow": 1px 3px 8px rgba(14, 166, 201, .4),
		"box-shadow-hover": 1px 3px 8px rgba(14, 166, 201, .7),
	),
	'dark': (
		"color": #eee,
		"background-color": #222f3e,
		"background-color-hover": #1a2430,
		"box-shadow": 1px 3px 8px rgba(34, 47, 62,.4),
		"box-shadow-hover": 1px 3px 8px rgba(34, 47, 62,.9),
	),
	'light': (
		"color": #555,
		"background-color": #efefef,
		"background-color-hover": #dedede,
		"box-shadow": 1px 3px 8px rgba(220, 220, 220,.4),
		"box-shadow-hover": 1px 3px 8px rgba(220, 220, 220,.7),
	)
);

$outline-buttons: (
	"primary": (
		"border": map-get($theme-colors, 'primary'),
		"color": map-get($theme-colors, 'primary'),
		"hover-bg": map-get($theme-colors, 'primary'),
	),
	"secondary": (
		"border": map-get($theme-colors, 'secondary'),
		"color": map-get($theme-colors, 'secondary'),
		"hover-bg": map-get($theme-colors, 'secondary'),
	),
	"success": (
		"border": map-get($theme-colors, 'success'),
		"color": map-get($theme-colors, 'success'),
		"hover-bg": map-get($theme-colors, 'success'),
	),
	"danger": (
		"border": map-get($theme-colors, 'danger'),
		"color": map-get($theme-colors, 'danger'),
		"hover-bg": map-get($theme-colors, 'danger'),
	),
	"warning": (
		"border": map-get($theme-colors, 'warning'),
		"color": map-get($theme-colors, 'warning'),
		"hover-bg": map-get($theme-colors, 'warning'),
	),
	"info": (
		"border": map-get($theme-colors, 'info'),
		"color": map-get($theme-colors, 'info'),
		"hover-bg": map-get($theme-colors, 'info'),
	),
	"dark": (
		"border": map-get($theme-colors, 'dark'),
		"color": map-get($theme-colors, 'dark'),
		"hover-bg": map-get($theme-colors, 'dark'),
	),
	"light": (
		"border": map-get($theme-colors, 'light'),
		"color": map-get($theme-colors, 'light'),
		"hover-bg": map-get($theme-colors, 'light'),
	),
);

$progress: (
	"primary": map-get($theme-colors, 'primary'),
	"secondary": map-get($theme-colors, 'secondary'),
	"warning": map-get($theme-colors, 'warning'),
	"danger": map-get($theme-colors, 'danger'),
	"success": map-get($theme-colors, 'success'),
	"light": map-get($theme-colors, 'light'),
	"dark": map-get($theme-colors, 'dark'),
	"info": map-get($theme-colors, 'info'),
)