@import "./../variables";

$alerts: (
	"primary": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'primary'),
		"border-color": #2f81e6,
	),
	"secondary": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'secondary'),
		"border-color": #fff,
	),
	"success": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'success'),
		"border-color": #fff,
	),
	"danger": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'danger'),
		"border-color": #fff,
	),
	"warning": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'warning'),
		"border-color": #fff,
	),
	"info": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'info'),
		"border-color": #fff,
	),
	"dark": (
		"color": #fff,
		"background-color": map-get($theme-colors, 'dark'),
		"border-color": #fff,
	),
	"light": (
		"color": #222,
		"background-color": map-get($theme-colors, 'light'),
		"border-color": #fff,
	),
);

.alert {
    @apply px-4 py-3 mb-3 rounded-md shadow-md text-sm relative;
    border:none;
    .alert-title {
        @apply text-xl font-medium mb-2;
    }
    i {
        @apply mr-1 text-xs;
    }
}

@each $color, $map in $alerts {
    .alert-#{$color} {
        color: map-get($map, "color");
        background-color: rgba(map-get($map, "background-color"), .8);
        border-color: map-get($map, "border-color");
    }
}