.kait-avatar {
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}
.kait-avatar span, .kait-avatar i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}