.btn {
    @apply px-3 py-2 rounded-sm transition duration-200 font-medium text-sm;
    @each $color, $map in $buttons {
        &.btn-#{$color} {
            background: map-get($map, 'background-color'); 
            box-shadow: map-get($map, "box-shadow");
            &:active:hover, &:hover:not([disabled]) {
                background: map-get($map, "background-color-hover"); 
                box-shadow: map-get($map, "box-shadow-hover");
            }
            color: map-get($map, "color");
        }
    }
    
}

.buttons .btn {
    @apply mr-3
}
