.btn {
    @apply px-3 py-2 rounded-md transition duration-100;
    @each $color, $map in $buttons {
        &.btn-#{$color} {
            background: map-get($map, 'background-color'); 
            box-shadow: map-get($map, "box-shadow-#{$color}");
            &:active:hover, &:hover:not([disabled]) {
                background: map-get($map, "background-color-hover"); 
                box-shadow: map-get($map, "box-shadow-#{$color}-hover");
            }
            color: map-get($map, "color");
        }
    }
    & + .btn {
        @apply mx-2;
    }
}


