@import "./../variables";

.vs__dropdown-toggle {
    transition: all .2s;
}
.kait-component {
    @each $color, $value in $theme-colors {
        .kait-select-#{$color}.is-focus {
            .vs__dropdown-toggle {
                box-shadow: 0 0px 5px rgba($value, .4);
                border: 1px solid rgba($value, .8);
            }
        } 
    }
    .vs__dropdown-toggle {
        padding: 5px 0;
    }
}
