body {
    background-color: #F4F6F8;
}
#app {
    @apply overflow-x-hidden;

}
#content {
    padding-left: 270px;   
    padding-bottom: 2rem;
    transition: all .5s;
    @apply w-full  min-h-screen;

    .main-content {
        @apply px-4 mt-8
    }
}
.page-header h3 {
    @apply text-white text-4xl  mb-8;
}

.section-title {
    @apply mt-12 text-lg font-medium ml-4;
}
.section-description {
    @apply text-gray-600 text-sm ml-4 mb-8;
}
.hide-sidebar {
    top: 10px;
    right: 10px;
}
@media screen and (max-width: 767px) {
    #content {
        @apply pl-0
    }
}
