// -------- Transition List -------------
// 1. fade 
// 2. slide-vertical
// ---------------------------------------


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
    opacity: 0;
}
.fade-slide-down-enter-active, .fade-slide-down-leave-active, {
    transition: all .5s;
}
.fade-slide-down-enter {
    transform: translateY(-10%);
    opacity: 0;
}
.fade-slide-down-enter-to {
    transform: translateY(0%);
    opacity: 1;
}
.fade-slide-down-leave {
    transform: translateY(0%);
    opacity: 1;
}
.fade-slide-down-leave-to {
    transform: translateY(-10%);
    opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
transition: .2s;
}
.slide-enter {
    opacity: 0;
    transform: translateX(-2%);
}
.slide-enter-to {
    opacity: 1;
    transform: translateX(0%);
}
.slide-leave {
    opacity: 1;
}
.slide-leave-to {
    opacity: 0;
    transform: translateX(-2%);
}

.slide-vertical-leave-active,
.slide-vertical-enter-active {
    transition: all .2s ease;
}
.slide-vertical-enter {
    max-height: 0;
    padding: 0;
}
.slide-vertical-enter-to {
    max-height: 100%;
    @apply py-2
}
.slide-vertical-leave {
    max-height: 100%;
    @apply py-2
}
.slide-vertical-leave-to {
    padding: 0;
    max-height: 0;
}